.col-sm-3 {
  height: 300px;
}
.col1 {
  background: violet url("images/image1.jpg") right/50% no-repeat;
}

.col2 {
  background: blue url("images/image2.jpg") center/50% no-repeat;
}
.col3 {
  background: red url("images/image3.jpg") center/75% no-repeat;
}
.col4 {
  background: yellow url("images/image4.jpeg") center/75% no-repeat;
}

.col5 {
  background: url("images/image5.jpg") center/80% no-repeat green;
}
.colmed4 {
  background: pink url("images/image6.jpg") center/60% no-repeat;
}

